.aboutme-container{
    position: relative;
    padding-bottom: 140px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    .start {
        align-self: flex-start;
    }
    #about-me {
        position: absolute;
        top: 60px;
    }
}


.eyebrow {
    padding-top: 143px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.025em;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 12px;
    margin-left: 25%;

    @media screen and (max-width: 1300px) {
        margin-left: 17.5%;
    }
    @media screen and (max-width: 1050px) {
        margin-left: 13.5%;
    }
    @media screen and (max-width: 586px) {
        margin-left: 9.25%;
    }
    @media screen and (max-width: 586px) {
        font-size: 24px;
    }
}

.heading{
    font-size: 92px;
    font-family: 'Times New Roman', Times, serif;
    max-width: 725px;
    letter-spacing: -0.045em;
    line-height: 1.1;
    margin-left: 25%;
    font-weight: 600;
    
        @media screen and (max-width: 1300px) {
            margin-left: 17.5%;
        }
        @media screen and (max-width: 1050px) {
            margin-left: 13.5%;
        }
        @media screen and (max-width: 860px) {
            font-size: 82px;
        }
        @media screen and (max-width: 770px) {
            font-size: 72px;
            max-width: 560px;
        }
        @media screen and (max-width: 586px) {
            margin-left: 9.25%;
            max-width: 485px;
            font-size: 580px;
        }
        @media screen and (max-width: 428px) {
            font-size: 44px;
            max-width: 340px;
        }
        @media screen and (max-width: 380px) {
            font-size: 40px;
        }
        @media screen and (max-width: 340px) {
            max-width: 280px;
        }
    
}

.intro-container{
    margin-top: 135px;
    display: flex;
    gap: 30px;
    position: relative;

    .big-card {
        border-radius: 28px;
        padding: 60px 58px 58px 60px;

        h3{
            max-width: 550px;
            letter-spacing: -0.02em;
            font-size: 32px;
            font-family: 'Times New Roman', Times, serif;
            font-weight: 600;
        }
        p{
            max-width: 550px;
            letter-spacing: -0.025em;
            font-size: 20px;
            font-family: 'Times New Roman', Times, serif;
            font-weight: 600;
            margin-top: 25px;
            line-height: 1.5;
        }
    }
    .right-intro{
        display: flex;
        flex-direction: column;
    }
}
