*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    z-index: 20;
    position: fixed;
    top: 1.3em;
    // justify-content: space-between;
    border-radius: 38px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    align-items: center;
    height: 50px;
    padding: 4px 8px;
    backdrop-filter: blur(20px);
    box-sizing: border-box;
    // justify-content: space-evenly;
    
    @media screen and (max-width: 500px) {
        height: 40px;
    }
    @media screen and (max-width: 386px) {
        height: 30px;
        padding: 4px 8px;
    }

    h3,
    button{
        font-family:'Times New Roman', Times, serif;
        font-weight: 400;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        transition: 0.15s all ease-in-out;

        @media screen and (max-width: 598px) {
            width: 65px;
        }

        @media screen and (max-width: 500px) {
            width: 50px;
        }

        @media screen and (max-width: 386px) {
            width: 35px;
        }

        .first{
            margin-right: 15px;
        }
    }

    h3 {
        font-size: 17px;
        padding: 11px 0px 10px 0px;
        // color: white;

        @media screen and (max-width: 598px) {
            font-size: 12px;
        }

        @media screen and (max-width: 500px) {
            font-size: 10px;
        }

        @media screen and (max-width: 386px) {
            font-size: 8px;
        }
    }

    .first {
        @media screen and (max-width: 386px) {
            width: 44px;
        }
    }

    button{
        // margin-left: 24px;
        font-size: 15px;
        color: white;
        background-color: #0064FF;
        border: none;
        border-radius: 20px;
        padding: 7px 18px;

        @media screen and (max-width: 598px) {
            font-size: 14px;
            width: 76px;
        }

        @media screen and (max-width: 500px) {
            font-size: 11px;
            width: 58px;
            margin-left: 14px;
            padding: 4px 0px;
        }

        @media screen and (max-width: 386px) {
            font-size: 9px;
            width: 50px;
            margin-left: 10px;
            margin-top: 1px;
        }

        &:hover {
            background-color: #0041a3;
        }
    }

    .wolf{
        cursor: pointer;
    }
}